*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

.background{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -99;
    color: #303335;
}

.container{
    width: 95vw;
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: flex;
    justify-content: space-around;
}

header{
    width: 100vw;
    min-height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #303335;
    border-bottom: #303335 1px solid;
}

.highlighted{
    color: #628aa5;
}

nav{
    width: 45vw;
    display: flex;
    justify-content: space-around;
}

main{
    width: 60vw;
    margin: 0 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: space-around;
}

.design-thumbnail{
    width: 18vw;
    height: 20vh;
    border: #303335 1px solid;
    border-radius: 4px;
    margin-bottom: 2vh;
}

.design-thumbnail:hover{
    transform: scale(1.1,1.1);
    transition: all 0.5s ease;
}

.design-thumbnail::before{
    background: black;
}

.design-thumbnail:nth-child(1){
    background: url('../static/impact-design.png') no-repeat center center/cover;
}

aside{
    width: 25vw;
    margin: 0 30px;
    padding: 30px;
    border: #303335 1px solid;
    border-radius: 4px;
    line-height: 1.7em;
    font-size: large;
}

@media(max-width:600px){
    .container{
        flex-direction:column-reverse;
    }

    main{
        width: 80px;
        flex-direction: column;
    }

    .design-thumbnail{
        width: 70vw;
        height: 30vh;
    }

    aside{
        width: 80vw;
    }
}